@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');




body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}



:root {
    --primary-color: #7C3AED;
    --off-white: #E5E7EB;
    --green: #6EE7B7;
    --gray: #9CA3AF;
}

.navigation{
    background-color: var(--primary-color);
    padding:1rem;
    border-bottom-left-radius:1rem;
    color:white;
    
 
}

.ul-navigation{
    text-align:right;
}

.link-navigation{
    text-decoration:none;
    color: white;
    
}

.list-navigation{
        
padding-right:2rem;
    display:inline;
}

.image-header{
    padding-top:2rem; 
    max-width:600px;
    display:block;
    margin:auto;
}


.header{
    display:block;
    color: var(--primary-color);
    text-align:center;
    margin-top:3rem;
    margin-bottom:3rem;
}
.header h1{
    margin:2rem;
}
.gray-heading{
    color: var(--gray);
}

.section-off-white{
   background-color: var(--off-white);
   padding:2rem;
}
h2{
    text-align:center;
}
.container{
    max-width:600px;
   margin:auto;
    display:block;
}
.section-normal{
   padding:3rem; 
   
}

.link-primary{
    text-decoration:none;
    background-color: var(--primary-color);
    padding:0.5rem;
    border-radius:0.5rem;
    color:white;
}

.link-secondary{
    text-decoration:none;
    color: var(--primary-color);
    padding:0.5rem;
    border:1px solid var(--primary-color);
    border-radius:0.5rem;

}


.footer{
    background-color: var(--primary-color);
    color:white;
    text-align:center;
    padding:4rem;
    border-top-right-radius:1rem;
}


.div-modified{
    font-weight:bold;
    font-size:1.5rem;
    
}

.link-purple{
    
    color: var(--primary-color);
   text-decoration:none ;
   padding:0.4rem;
   border: 1px solid var(--primary-color);
   border-radius:0.5rem;
   display:block;
   margin:0.5rem 0rem;
 
}

.link-red{
    text-decoration:none;
    color:red;
    padding:0.4rem; display:block;
    margin:0.5rem 0rem;
    border: 1px solid red;
    border-radius:0.5rem;

}

.list-projects{
    
    margin:3rem 0rem;
}
.list-ul-projects{
    list-style:none;
    margin-left:-7%;
}
