@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


:root {
    --primary-color: #7C3AED;
    --off-white: #E5E7EB;
    --green: #6EE7B7;
    --gray: #9CA3AF;
}

.navigation h2{
    padding-top:0rem;
}
.navigation {
    background-color: var(--primary-color);
    padding-top:0.3rem;
    padding-bottom:0.5rem;
    color: white;
    text-decoration: none;
    border-bottom-left-radius: 1rem;
    display:block;
  
}

.link-navigation {
    text-decoration: none;
    color: white;
    padding-right: 2rem;


}

.list-navigation {
    display: inline;
    text-decoration: none;
    text-align: right;

}

.navigation-ul {
    text-align: right;
}

.image-header {
    max-width: 500px;
    display: block;
    margin: auto;
}

.header {
    padding-top: 4rem;
    padding-bottom: 2rem;
}

.heading-header {
    text-align: center;
    color: var(--gray);
}



.section-off-white {
    text-align: center;
    background-color: var(--off-white);
    padding:1rem;
    margin-bottom:2rem;
}

.section-normal {
    text-align: center;
    margin:2rem 0rem;

}



.section-off-white-2{
    text-align:center;
    background-color: var(--off-white);
    padding-top:1rem;
    padding-bottom:2rem;
   
}
.link-primary {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    

}

.link-secondary {
    text-decoration: none;
    color: var(--primary-color);
    padding: 0.5rem;
    border: solid 1px var(--primary-color);
    border-radius: 0.5rem;


}

.footer{
    background-color: var(--primary-color);
    text-align:center;
    color:white;
    padding-top:1rem;
    padding-bottom:4rem;
    border-top-right-radius:1rem;
}

.list-footer{
    text-decoration:none;
    display:inline;
    padding-bottom:1rem;
}

.link-footer{
    color:white;
    padding-right:1rem;
    text-decoration:none;
}